.testeMenu{
    display: grid;
    grid-template-columns: repeat(3.1fr);
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(235, 233, 233);

}
.line img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.cardteste{
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
padding-top: 60px;
border-radius: 20px;
box-shadow: 3px 17px 19px 0px black;
padding: 20px;
}
.cardteste h2{
    margin-top: 30px;
}
.cardteste p{
    text-align: center;
    margin-top: 40px;
}
.cardteste i{
color: rgb(38, 112, 38);
}

.lines{
    position: absolute;
    left: 0px;
    width: 300px;
    background-color: black;
    height: 1px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px;
}
footer{
    min-width: 100%;
min-height: 50vh;
background-color: black;
text-align: center;
color: white;
padding-top: 80px;
background-image: url("../images/sabzi.jpg");
background-repeat: no-repeat;
background-position: top;;
background-size: cover;

}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.fixed{
    position: fixed;
    bottom: 200px;
    right: 70px;
    width: 40px;
    height: 30px;
    padding-top: 6px;
    padding-left: 15px;
    background-color: rgb(38, 112, 38);
    display: none;
    border-radius: 505;
}


footer a{
    color: white;
}
footer a:hover{
    color: rgb(68, 241, 77);
}

@media(max-width:600px){
    .testeMenu{
        display: grid;
        grid-template-columns: repeat(1.1fr);
        min-width: 100%;
        min-height: 100vh;
        align-items: center;
        background-color: rgb(235, 233, 233);
        padding-top: 90px;
        overflow: hidden;
    
    }
    .items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 50px;
    }
    .bottom{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: rgb(255, 255, 255);
        display: inline-block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }
    .bottom ul{
        display: flex;
        padding-left: 10px;
        text-decoration: none;
        list-style-type: none;
        overflow: hidden;
    }
    .bottom ul li a{
        text-decoration: none;
        color: rgb(23, 168, 30);
        font-size: 30px;
    }
    .bottom ul li button{
margin-top: 0px;
width: 80px;
height: 80px;
border: none;
margin-bottom: 10px;
    }
    .bottom ul li button:hover{
        background-color: rgb(31, 182, 38);
        color: white;
    }
    .bottom ul li button:hover a{
        color: white;
    }
.cardteste{
    width: 250px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
padding-top: 60px;
border-radius: 20px;
box-shadow: 3px 17px 19px 0px black;
padding: 20px;
margin-top: 10px;
margin-bottom: 10px;
}
.cardteste h2{
    margin-top: 0px;
}
.cardteste p{
    text-align: center;
    margin-top: 0px;
}
.cardteste i{
color: rgb(38, 112, 38);
}

}
.bottom{
    
}